<div class="card card-block">
    
    <h4 class="card-title">Create Joke</h4>

    <div class="form-group">
        <input type="text"    class="form-control"    placeholder="Escriba broma"    #broma>
    </div>

    <div class="form-group">
        <input type="text"     class="form-control"    placeholder="Escriba final de broma"    #respuestaBroma>
    </div>

        <button type="button"    class="btn btn-primary"    (click)="CrearBroma(broma.value, respuestaBroma.value)"> Crear broma  </button>

</div>
    
  
  